body {
    font-family: "Overpass", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
}

/*
 *  STYLE 3
 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #978e8e59;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}


.btn, .fc .fc-button, .swal2-modal .swal2-actions button, .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions .disabled a {
    font-weight: 100;
}

/**href*/
a {
    color: black;
}

.main-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: scroll;
}

.main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 5px;
}

.page-breadcrumb {
    padding: 10px 10px 0px 3px;
}

.buy-now-wrapper, .settings-sidebar {
    display: none;
}

#resize-flyout {
    display: none;
}

.form-group, .form-group.layout-item {
    padding-bottom: 0px;
    margin-bottom: 1rem;
}
.form-group .custom-checkbox label{
    font-weight: 400;
}
.form-group label, .filter-breadcrumb.breadcrumb a {
    /* font-size: 1.3rem; */
    color: #5e6c84;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    /* float: none; */
    margin: 0 16px 0 0;
    display: block;
    text-align: left;
    /* width: auto; */
}

.help-block {
    font-size: 11px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
    content: "\f107";
    font-family: FontAwesome;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
    content: '\f106';
}

.form-inline .form-control, .form-inline select, .form-inline .email-compose-fields .select2-container--default .select2-selection--multiple, .email-compose-fields .select2-container--default .form-inline .select2-selection--multiple, .form-inline .select2-container--default .select2-selection--single, .select2-container--default .form-inline .select2-selection--single, .form-inline .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .form-inline .select2-search__field, .form-inline .typeahead, .form-inline .tt-query, .form-inline .tt-hint {
    height: 30px;
}

.form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    width: 100%;
    height: 32px;
    color: #3f3a3a;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    /*background-color: #f4f5f733;*/
    border: 1px solid #dfe1e6;
    padding: 4px 7px 5px;
}

.form-control:focus, select:focus, .email-compose-fields .select2-container--default .select2-selection--multiple:focus, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {
    box-shadow: 0 0 0 1px #adb5c31a;
}

.form-inline .form-control, .form-inline select, .form-inline .email-compose-fields .select2-container--default .select2-selection--multiple, .email-compose-fields .select2-container--default .form-inline .select2-selection--multiple, .form-inline .select2-container--default .select2-selection--single, .select2-container--default .form-inline .select2-selection--single, .form-inline .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .form-inline .select2-search__field, .form-inline .typeahead, .form-inline .tt-query, .form-inline .tt-hint {
    width: 100%;
}

.form-control:disabled, select:disabled, .email-compose-fields .select2-container--default .select2-selection--multiple:disabled, .select2-container--default .select2-selection--single:disabled, .select2-container--default .select2-selection--single .select2-search__field:disabled, .typeahead:disabled, .tt-query:disabled, .tt-hint:disabled, .form-control[readonly], select[readonly], .email-compose-fields .select2-container--default .select2-selection--multiple[readonly], .select2-container--default .select2-selection--single[readonly], .select2-container--default .select2-selection--single .select2-search__field[readonly], .typeahead[readonly], .tt-query[readonly], .tt-hint[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}

.card .card-body {
    padding: 10px 1.5rem 1.5rem;
}

.card-body .field-repeater li.field-repeater-item {
    background: none;
}

.field-repeater .field-repeater-add-item:hover, .field-repeater .field-repeater-add-item:focus {
    border-color: #727cf5;
}

.field-repeater .field-repeater-add-item > a {
    font-weight: 100;
}

.control-tabs > div.tab-content > div.tab-pane.active.layout-cell {
    display: block;
}


.custom-switch > span, .custom-switch input:checked ~ span {
    background-color: rgb(188, 189, 202);
    font-size: 13px;
    font-weight: 100;
}

.custom-switch input:checked ~ span {
    /* background-color: #727cf5;*/
    background: #678a74d9;
}

.custom-switch .slide-button {
    right: 38px;
    top: 5px;
    width: 15px;
    height: 15px;
}

.custom-switch {
    width: 58px;
}

/*.select2-container--default .select2-selection--single, span.select2.select2-container {
    height: 100%;
}*/

/*span.select2-container {
    z-index: 10050;
    width: 100% !important;
}*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
    z-index: 10060;
}

.custom-checkbox input[type=checkbox]:indeterminate + label:before, .custom-radio input[type=checkbox]:indeterminate + label:before, .custom-checkbox input[type=checkbox]:checked + label:before, .custom-radio input[type=checkbox]:checked + label:before {
    border-color: #727cf5;
    background-color: #727cf5;
}

.custom-checkbox input[type=radio], .custom-radio input[type=radio], .custom-checkbox input[type=checkbox], .custom-radio input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/**Tabs Css*/
.control-tabs.primary-tabs > ul.nav-tabs:before, .control-tabs.primary-tabs > div > ul.nav-tabs:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs:before {
    border-bottom: 2px solid #e8ebf1;
}

.control-tabs.primary-tabs > ul.nav-tabs > li.active a > span.title, .control-tabs.primary-tabs > div > ul.nav-tabs > li.active a > span.title, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li.active a > span.title {
    border-top-color: #e8ebf1;
    color: #5e6c84;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    /* float: none; */
    text-align: left;
}

.control-tabs.primary-tabs > ul.nav-tabs > li.active a > span.title span, .control-tabs.primary-tabs > div > ul.nav-tabs > li.active a > span.title span, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li.active a > span.title span {
    border-top-color: #e8ebf1;
    /*z-index: 12;*/
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:after {
    background: #FFFFFF;
    border-color: #e8ebf1 !important;
    /*z-index: 8;*/
}

.control-tabs > ul.nav-tabs > li a > span.title > span, .control-tabs > div > ul.nav-tabs > li a > span.title > span, .control-tabs > div > div > ul.nav-tabs > li a > span.title > span {
    border-top-color: #e8ebf1;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:after {
    background: #FFFFFF;
    border-color: #e8ebf1 !important;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a, .control-tabs.primary-tabs > div > ul.nav-tabs > li a, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a {
    font-size: 13px;
    font-weight: 400;
}


/**Richeditor*/
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i, .fr-toolbar .fr-command.fr-btn svg, .fr-popup .fr-command.fr-btn svg {
    font-size: 12px;
}

/**Select2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 13px;
}

/**Query Builder*/
.query-builder .rules-group-container {
    background: none;
    border: 1px solid #eee;
}

.rules-group-container {
    width: 100%;
}

.rules-group-header button {
    margin: 0px 6px 8px 0px;
    font-size: 1.175rem;
}

/**Default buttons*/
.btn.btn-xs, .fc .btn-xs.fc-button, .swal2-modal .swal2-actions button.btn-xs, .wizard > .actions a.btn-xs {
    font-size: 13px;
}

/***navbar**/
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar .navbar-content {
    padding-left: 10px;
}

.navbar .navbar-content .navbar-nav .navbar .navbar-content .top-navbar .nav-item .nav-link {
    color: #fff;
}

.navbar .navbar-content .navbar-nav .navbar .navbar-content .top-navbar [class*=" oc-icon-"]:before {
    font-size: 15px;
}

.navbar .navbar-content .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-content .navbar-nav .nav-item .nav-link[aria-expanded="true"] {
    color: #FFFFFF;
}

.navbar .navbar-content .top-navbar.navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
}

.navbar .navbar-content .top-navbar.navbar-nav .nav-item .nav-link svg {
    display: none;
}

.navbar .navbar-content .top-navbar.navbar-nav > .nav-item > .nav-link {
    color: #FFFFFF;
}

.navbar .navbar-content .top-navbar.navbar-nav .dropdown-menu .nav-item {
    margin-left: 0px;
    margin-right: 0px;
    display: contents;
}

.navbar .navbar-content .top-navbar .dropdown-menu {
    background-color: #3a3f51;
    position: absolute;
    top: 44px;
    left: -8px;
    border: black;
    font-size: 12px;
}

.navbar .navbar-content .top-navbar.navbar-nav .dropdown-menu .nav-item a {
    padding: 10px;
    border: none;
}

.navbar .navbar-content .top-navbar {
    width: 87%;
}

.navbar-content .search-form {
    width: 10%;
}

.navbar-content .user-settings {
    width: 3%;
}

.marktext {
    background: #eeda16;
}

/***list**/
.list-header {
    background-color: transparent;
    padding: 0 0 0 0;
}

.table-wrapper {
    position: relative;
    height: 430px;
    width: 100%;
    border: 1px solid #b8c2c6;
    overflow: scroll;
}

.list-footer .list-pagination {
    font-size: 14px;
    text-align: right;
    padding-top: 5px;
    overflow: hidden;
}

/**Filters*/
.query-builder .rule-value-container {
    width: 30%;
}

.control-filter {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    margin-bottom: 10px;
}

.control-filter-popover .filter-items {
    width: 100%;
}

.list-footer {
    padding: 0px;
}

.control-list {
    margin-bottom: 0px;
}

.control-toolbar {
    padding: 0 0 8px 0;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.control-toolbar .toolbar-item {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    order: 2;
}

.control-toolbar .toolbar-item.toolbar-primary {
    width: 100% !important;;
}


.toolbar-item .loading-indicator-container {
    order: 2;
}

.control-toolbar .toolbar-item .toolbar {
    margin-left: auto;
}

.list-widget table.table.data thead th a, table.table.data thead td.active, table.table.data thead th.active {
    background: #f1f2f6;
}

table.table.data thead .list-checkbox .custom-checkbox {
    top: -10px;
}

.list-widget table.table.data thead th {
    /*resize: horizontal;*/
    z-index: 1;
    position: sticky;
    overflow: auto;
    top: 0; /* Don't forget this, required for the stickiness */
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
}

.list-widget table.table.data thead td, .list-widget table.table.data thead th, .list-widget table.table.data .list-checkbox {
    border-right: 1px solid #d5d5d5;
    /* border: none; */
    border-bottom: 1px solid #0000003d;
}

table.table.data thead tr th.list-checkbox {
    padding: 10px 0 0 20px;
}

table.table.data thead {
    background: #f1f2f6;
}

table.table.data thead td, table.table.data thead th {
    border-width: 1px;
    border-top: 0px solid #d4d8da !important;
    border-bottom: 1px solid #d4d8da !important;
    border-color: #d4d8da;
    padding: 0;
    font-weight: normal;
    /* text-transform: uppercase; */
    font-size: 11px;
    white-space: nowrap;
    background: #f1f2f6;
}

.list-with-sidebar table.table.data {
    border: none;
    font-size: 13px;
    color: #212529;
}

.list-flush table.table.data thead tr th {
    border-width: 1px;
    border-top: 1px solid #d4d8da !important;
    border-bottom: 2px solid #d4d8da !important;
    border-color: #d4d8da;
}

table.table.data tbody td, table.table.data tbody th {
    padding: 10px 10px;
    color: rgba(81, 72, 72, 0.88);
}

/**Buttons*/
.btn, .fc .fc-button, .swal2-modal .swal2-actions button, .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions .disabled a {
    font-size: 13px;
}

.card {
    border: none;
}

table.table.data tbody tr td {
    border-bottom: 1px solid #00000014;
    background-color: transparent;
    color: #3f3a3a;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 10px;
    /* line-height: 16px; */
    /* float: none; */
    /* margin: 0 16px 0 0; */
    /* display: block; */
    text-align: left;
}

table.table.data tbody tr td, table.table.data tbody tr th {
    border-top: 1px solid #e8ebf1;
}

table.table.data tbody tr.rowlink:hover td, table.table.data tbody tr:not(.no-data).selected td {
    background-color: #e9f4ff !important;
    color: rgba(81, 72, 72, 0.88);
}

table.table.data tbody tr:nth-child(even) td, table.table.data tbody tr:nth-child(even) th {
    background-color: #ebf0f152;
}

table.table.data thead td > a, table.table.data thead th > a, table.table.data thead td > span, table.table.data thead th > span {
    text-transform: initial;
    color: #343536;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    /* float: none; */
    margin: 0 16px 0 0;
    display: block;
    text-align: left;
    /* width: auto; */
    padding: 10px 15px;;
}

.form-control.icon.search {
    background-position: right -84px;
    float: right;
}

/**ACE editor*/
.ace_editor {
    position: static !important;
}

.editor-fullscreen .ace_editor {
    height: 99%;
}

.ace_editor .ace_content {
    font-size: 12px;
    /*position: static !important;*/
}

/***navigation ***/
.navbar, .sidebar {
    z-index: 10;
}


.nav .nav-item .nav-link .link-icon {
    font-size: 13px;
}

.sidebar .sidebar-body .nav {
    padding: 0px 0 0px 0;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #fff;
}

.sidebar-search {
    padding: 2px 10px 2px 14px;
    background-color: #3a3f51;
    border-bottom: 1px solid #9e9fa247;
}

.sidebar .sidebar-body, .navbar, .navbar .search-form, input#navbarForm, input#nav-search-box {
    overflow-x: hidden;
    background-color: #3a3f51;
    color: #a6a8b1;
    border: 0px;
    font-size: 15px;
}

.navbar .search-form .input-group .input-group-prepend .input-group-text {
    background: #3a3f51;
    color: #a6a8b1;
}

.sidebar .sidebar-header {
    background: #3a3f51;
    color: #fff;
    border-bottom: 1px solid #9e9fa247;
    border-right: 1px solid #9e9fa247;
}

.sidebar .sidebar-body .nav.sub-menu:before {
    position: absolute;
    left: 9px;
    display: block;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #a6a8b1;
    border-bottom: 1px solid #a6a8b1;
}

.sidebar .sidebar-body .nav.sub-menu {
    padding: 0 0 0 1rem;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-icon {
    color: #a6a8b1;
}

.navbar .navbar-content .top-navbar .nav-item .nav-link:hover .link-icon, .sidebar .sidebar-body .nav .nav-item .nav-link:hover .link-icon {
    color: #fff;
}

.sidebar .sidebar-header .sidebar-brand span {
    color: #fff;
}

.navbar .navbar-content .top-navbar nav .nav-item:hover .nav-link,
.sidebar .sidebar-body .nav .nav-item:hover .nav-link,
.sidebar .sidebar-body .nav .nav-item .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link {
    margin-left: 0;
    color: #a6a8b1;
    padding: 10px 20px;
    font-size: 14px;
    height: 35px;
}

.navbar .navbar-content .top-navbar .nav .nav-item .nav-link[aria-expanded="true"],
.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded="true"] {
    color: #fff;
}

.navbar .navbar-content .top-navbar .nav .nav-item:hover .nav-link:hover,
.sidebar .sidebar-body .nav .nav-item:hover .nav-link:hover,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover,
.sidebar .sidebar-body .nav .nav-item .nav-link:hover {
    margin-left: 0;
    color: #fff;
    background-color: #2e3344;
}

.navbar .navbar-content .top-navbar .nav .nav-item .nav-link, .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link,
.sidebar .sidebar-body .nav .nav-item .nav-link, .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    color: #a6a8b1;
    padding: 8px 20px;
    font-size: 13px;
    border: .001rem solid #2e3344;
    width: 100%;
}


.navbar .navbar-content .top-navbar .nav .nav-item.active > .nav-link,
.navbar .navbar-content .top-navbar .nav.sub-menu .nav-item .nav-link:hover,
.navbar .navbar-content .top-navbar .nav.sub-menu .nav-item .nav-link:hover .link-icon,
.navbar .navbar-content .top-navbar .nav .nav-item.active > .nav-link .link-icon,
.sidebar .sidebar-body .nav .nav-item.active > .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover .link-icon,
.sidebar .sidebar-body .nav .nav-item.active > .nav-link .link-icon {
    color: #fff;
    background-color: #2e3344;
}


.navbar .navbar-content .top-navbar .nav.sub-menu .nav-item .nav-link::before,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
    display: none;
}

.navbar .navbar-content .top-navbar .nav.sub-menu .nav-item .nav-link.active,
.navbar .navbar-content .top-navbar .nav.sub-menu .nav-item .nav-link.active .link-icon,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active,
.sidebar .sidebar-body .nav.sub-menu .nav-item > .nav-link.active .link-icon {
    color: #fff;
    background-color: #2e3344;
}

.navbar .navbar-content .top-navbar .nav .nav-item.active .nav-link .link-icon,
.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon {
    color: #a6a8b1;
}

/** breadcrumb**/
.breadcrumb {
    font-size: 13px;
}

.filter-breadcrumb.breadcrumb {
    padding-top: 17px;
    padding-left: 0px;
}

/**SWAL*/
.sweet-alert {
    width: 24%;
}

/**MODAL*/

.fade:not(.show) {
    opacity: inherit;
}

.modal-header {
    display: flow-root;
}

.modal-header h4 {
    float: left;
}

.modal-header button {
    float: right;
}

.modal-content {
    overflow: auto;
}

.popup-loading-indicator {
    background: transparent;
    border: none;
    box-shadow: none;
}

/**Flash Messages**/
.flash-message {
    top: 10px;
}

/**loader**/
/*
.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
    background: #727cf5 !important;
}

.loading-indicator-container {
    min-height: 30px;
}
*/

.field-repeater .field-repeater-add-item > a {
    padding: 10px 15px;
}

/** Buttons **/
.tooltip {
    font-size: 13px;
}

a.manage-widgets, .action a {
    color: #3a3f51;
}


.btn-primary, .swal2-modal .swal2-actions button.swal2-confirm, .wizard > .actions a, .wizard > .actions a:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #678a74d9;
    /* background-color: #4eb5f1;
    /* border-color: #678a74d9; */
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    height: 30px;
    border-color: #007effd9;
}

.btn-primary:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover, .wizard > .actions a:hover, .btn-primary:focus, .swal2-modal .swal2-actions button.swal2-confirm:focus, .wizard > .actions a:focus, .btn-primary.focus, .swal2-modal .swal2-actions button.focus.swal2-confirm, .wizard > .actions a.focus,
.btn-primary:not(:disabled):not(.disabled):active, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled):active, .wizard > .actions a:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled).active, .wizard > .actions a:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .swal2-modal .swal2-actions .show > button.dropdown-toggle.swal2-confirm, .wizard > .actions .show > a.dropdown-toggle {
    background-color: #4095c6;
    border-color: #727cf5;;
}

.btn-primary.disabled, .swal2-modal .swal2-actions button.disabled.swal2-confirm, .wizard > .actions a.disabled, .btn-primary:disabled, .swal2-modal .swal2-actions button.swal2-confirm:disabled, .wizard > .actions a:disabled {
    background: #a6a8b1;
    border-color: #a6a8b1;
}

/***October cms widget css*/
.recordfinder-list .list-scrollable-container > .list-scrollable {
    overflow: inherit;
}

.recordfinder-list {
    overflow: scroll;
}

/**Dropdown*/
.dropdown-menu {
    font-size: 12px;
}




