body {
    font-family: "Overpass", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
}

.main-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: scroll;
}

.main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 5px;
}

.page-breadcrumb {
    padding: 10px 10px 0px 3px;
}

.buy-now-wrapper, .settings-sidebar {
    display: none;
}

#resize-flyout {
    display: none;
}

.form-group, .form-group.layout-item {
    padding-bottom: 0px;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 1.3rem;
}

.help-block {
    font-size: 11px;
}

.form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    border: 1px solid #e8ebf1;
    font-weight: 400;
    font-size: 1.375rem;
    padding: 2px 5px;
}

.form-control:disabled, select:disabled, .email-compose-fields .select2-container--default .select2-selection--multiple:disabled, .select2-container--default .select2-selection--single:disabled, .select2-container--default .select2-selection--single .select2-search__field:disabled, .typeahead:disabled, .tt-query:disabled, .tt-hint:disabled, .form-control[readonly], select[readonly], .email-compose-fields .select2-container--default .select2-selection--multiple[readonly], .select2-container--default .select2-selection--single[readonly], .select2-container--default .select2-selection--single .select2-search__field[readonly], .typeahead[readonly], .tt-query[readonly], .tt-hint[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}

.card .card-body {
    padding: 2.5rem 2.5rem 1.5rem 1.5rem;
}

.card-body .field-repeater li.field-repeater-item {
    background: none;
}

.field-repeater .field-repeater-add-item:hover, .field-repeater .field-repeater-add-item:focus {
    border-color: #727cf5;
}

.field-repeater .field-repeater-add-item > a {
    font-weight: 400;
}

.control-tabs > div.tab-content > div.tab-pane.active.layout-cell {
    display: block;
}


.custom-switch > span, .custom-switch input:checked ~ span {
    background-color: rgb(188, 189, 202);
    font-size: 1.175rem;
    font-weight: 400;
}

.custom-switch input:checked ~ span {
    /* background-color: #727cf5;*/
    background: #678a74d9;
}

.custom-switch .slide-button {
    right: 38px;
    top: 5px;
    width: 15px;
    height: 15px;
}

.custom-switch {
    width: 58px;
}

/*.select2-container--default .select2-selection--single, span.select2.select2-container {
    height: 100%;
}*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
}

.custom-checkbox input[type=checkbox]:indeterminate + label:before, .custom-radio input[type=checkbox]:indeterminate + label:before, .custom-checkbox input[type=checkbox]:checked + label:before, .custom-radio input[type=checkbox]:checked + label:before {
    border-color: #727cf5;
    background-color: #727cf5;
}

.custom-checkbox input[type=radio], .custom-radio input[type=radio], .custom-checkbox input[type=checkbox], .custom-radio input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/**Tabs Css*/
.control-tabs.primary-tabs > ul.nav-tabs:before, .control-tabs.primary-tabs > div > ul.nav-tabs:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs:before {
    border-bottom: 2px solid #e8ebf1;
}

.control-tabs.primary-tabs > ul.nav-tabs > li.active a > span.title, .control-tabs.primary-tabs > div > ul.nav-tabs > li.active a > span.title, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li.active a > span.title {
    border-top-color: #e8ebf1;
    /*z-index: 12;*/
}

.control-tabs.primary-tabs > ul.nav-tabs > li.active a > span.title span, .control-tabs.primary-tabs > div > ul.nav-tabs > li.active a > span.title span, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li.active a > span.title span {
    border-top-color: #e8ebf1;
    /*z-index: 12;*/
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:after {
    background: #FFFFFF;
    border-color: #e8ebf1 !important;
    /*z-index: 8;*/
}

.control-tabs > ul.nav-tabs > li a > span.title > span, .control-tabs > div > ul.nav-tabs > li a > span.title > span, .control-tabs > div > div > ul.nav-tabs > li a > span.title > span {
    border-top-color: #e8ebf1;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:before, .control-tabs.primary-tabs > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title:after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title:after {
    background: #FFFFFF;
    border-color: #e8ebf1 !important;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a, .control-tabs.primary-tabs > div > ul.nav-tabs > li a, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a {
    font-size: 12px;
    font-weight: 400;
}


/**Richeditor*/
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i, .fr-toolbar .fr-command.fr-btn svg, .fr-popup .fr-command.fr-btn svg {
    font-size: 11px;
}

/**Select2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 1.175rem;
}

/**Query Builder*/
.rules-group-container {
    width: 100%;
}

.rules-group-header button {
    margin: 0px 6px 8px 0px;
    font-size: 1.175rem;
}

/**Default buttons*/
.btn.btn-xs, .fc .btn-xs.fc-button, .swal2-modal .swal2-actions button.btn-xs, .wizard > .actions a.btn-xs {
    font-size: 1.175rem;
}

/***navbar**/
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

/***list**/
.table-wrapper {
    position: relative;
}

.control-filter {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    margin-bottom: 10px;
}

.control-filter-popover .filter-items {
    width: 100%;
}

.list-footer {
    padding: 0px;
}

.control-list {
    margin-bottom: 0px;
}

.control-toolbar {
    padding: 0px 0px 8px 0px;
}

.toolbar-item .loading-indicator-container {
    float: right;
}

.list-widget table.table.data thead td, .list-widget table.table.data thead th, .list-widget table.table.data .list-checkbox {
    border: none;
}

.list-with-sidebar table.table.data {
    border: none;
}

.list-flush table.table.data thead tr th {
    border-width: 1px;
    border-top: 1px solid #d4d8da !important;
    border-bottom: 2px solid #d4d8da !important;
    border-color: #d4d8da;
}

.table td {
    font-size: 1.2rem;
}

table.table.data tbody td, table.table.data tbody th {
    padding: 10px 10px;
}

/**Buttons*/
.btn, .fc .fc-button, .swal2-modal .swal2-actions button, .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions .disabled a {
    font-size: 1.175rem;
}

table.table.data tbody tr:nth-child(even) td, table.table.data tbody tr:nth-child(even) th {
    background-color: transparent;
}

table.table.data tbody tr td, table.table.data tbody tr th {
    border-top: 1px solid #e8ebf1;
}

table.table.data tbody tr.rowlink:hover td, table.table.data tbody tr:not(.no-data).selected td {
    background-color: #eaeaea !important;
    color: #666;
}

.form-control.icon.search {
    background-position: right -84px;
    float: right;
}

/**ACE editor*/
.ace_editor {
    position: static !important;
}

.ace_editor .ace_content {
    font-size: 12px;
    /*position: static !important;*/
}

/***navigation ***/
.navbar, .sidebar {
    z-index: 10;
}


.nav .nav-item .nav-link .link-icon {
    font-size: 1.550rem;
}

.sidebar .sidebar-body .nav {
    padding: 0px 0 0px 0;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #fff;
}

.sidebar-search {
    padding: 2px 10px 2px 14px;
    background-color: #3a3f51;
    border-bottom: 1px solid #9e9fa247;
}

.sidebar .sidebar-body, .navbar, .navbar .search-form, input#navbarForm, input#nav-search-box {
    background-color: #3a3f51;
    color: #a6a8b1;
    border: 0px;
    font-size: 15px;
}

.navbar .search-form .input-group .input-group-prepend .input-group-text {
    background: #3a3f51;
    color: #a6a8b1;
}

.sidebar .sidebar-header {
    background: #3a3f51;
    color: #fff;
    border-bottom: 1px solid #9e9fa247;
    border-right: 1px solid #9e9fa247;
}

.sidebar .sidebar-body .nav.sub-menu:before {
    position: absolute;
    left: 9px;
    display: block;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #a6a8b1;
    border-bottom: 1px solid #a6a8b1;
}

.sidebar .sidebar-body .nav.sub-menu {
    padding: 0 0 0 1rem;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-icon {
    color: #a6a8b1;
}

.sidebar .sidebar-body .nav .nav-item .nav-link:hover .link-icon {
    color: #fff;
}

.sidebar .sidebar-header .sidebar-brand span {
    color: #fff;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link,
.sidebar .sidebar-body .nav .nav-item .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link {
    margin-left: 0;
    color: #a6a8b1;
    padding: 10px 20px;
    font-size: 14px;
    height: 35px;
}


.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded="true"] {
    color: #fff;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link:hover,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover,
.sidebar .sidebar-body .nav .nav-item .nav-link:hover {
    margin-left: 0;
    color: #fff;
    background-color: #2e3344;
}

.sidebar .sidebar-body .nav .nav-item .nav-link, .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    color: #a6a8b1;
    padding: 15px 20px;
    font-size: 14px;
    border: .001rem solid #2e3344;
}


.sidebar .sidebar-body .nav .nav-item.active > .nav-link,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover,
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover .link-icon,
.sidebar .sidebar-body .nav .nav-item.active > .nav-link .link-icon {
    color: #fff;
    background-color: #2e3344;
}


.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
    display: none;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active,
.sidebar .sidebar-body .nav.sub-menu .nav-item > .nav-link.active .link-icon {
    color: #fff;
    background-color: #2e3344;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon {
    color: #a6a8b1;
}

/** breadcrumb**/
.breadcrumb {
    font-size: 1.350rem;
}

/**SWAL*/
.sweet-alert {
    width: 24%;
}

/**MODAL*/

.fade:not(.show) {
    opacity: inherit;
}

.modal-header {
    display: flow-root;
}

.modal-header h4 {
    float: left;
}

.modal-header button {
    float: right;
}

.modal-content {
    overflow: auto;
}

.popup-loading-indicator {
    background: transparent;
    border: none;
    box-shadow: none;
}

/**Flash Messages**/
.flash-message {
    top: 10px;
}

/**loader**/
/*
.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
    background: #727cf5 !important;
}

.loading-indicator-container {
    min-height: 30px;
}
*/

.field-repeater .field-repeater-add-item > a {
    padding: 10px 15px;
}

/** Buttons **/
a.manage-widgets, .action a {
    color: #3a3f51;
}

.btn-primary, .swal2-modal .swal2-actions button.swal2-confirm, .wizard > .actions a, .wizard > .actions a:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #678a74d9;
    border-color: #678a74d9;
}

.btn-primary:hover, .swal2-modal .swal2-actions button.swal2-confirm:hover, .wizard > .actions a:hover, .btn-primary:focus, .swal2-modal .swal2-actions button.swal2-confirm:focus, .wizard > .actions a:focus, .btn-primary.focus, .swal2-modal .swal2-actions button.focus.swal2-confirm, .wizard > .actions a.focus,
.btn-primary:not(:disabled):not(.disabled):active, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled):active, .wizard > .actions a:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .swal2-modal .swal2-actions button.swal2-confirm:not(:disabled):not(.disabled).active, .wizard > .actions a:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .swal2-modal .swal2-actions .show > button.dropdown-toggle.swal2-confirm, .wizard > .actions .show > a.dropdown-toggle {
    background-color: #4f6356d9;
    border-color: #4f6356d9;
}

.btn-primary.disabled, .swal2-modal .swal2-actions button.disabled.swal2-confirm, .wizard > .actions a.disabled, .btn-primary:disabled, .swal2-modal .swal2-actions button.swal2-confirm:disabled, .wizard > .actions a:disabled {
    background: #a6a8b1;
    border-color: #a6a8b1;
}

/***October cms widget css*/
.recordfinder-list .list-scrollable-container > .list-scrollable {
    overflow: inherit;
}

.recordfinder-list {
    overflow: scroll;
}

/**Dropdown*/
.dropdown-menu {
    font-size: 1rem;
}