.idea
.idea/*
conf
www/.DS_Store
www/*.log
www/bootstrap
www/install_files
www/modules
!www/storage/app/media/system/plugins
www/storage/app/uploads
www/storage/app/*
www/storage/cms
www/storage/logs
www/storage/temp
www/storage/framework
!www/vendor/october/rain/src/Database/Relations/MorphToMany.php
!www/vendor/october/rain/src/Database/Concerns/HasRelationships.php
www/vendor
www/install.php
www/install-master
www/tests
www/.htaccess
www/ed
www/.travis.yml
www/phpunit.phar
www/.editorconfig

