<?php

use \Demo\Core\Models\Navigation;

$id = $folder->name . '-' . $folder->id;
if ($folder->type !== 'folder') { ?>
    <li class="nav-item <?= /*BackendMenu::isSideMenuItemActive($item) ? 'active' :*/
    '' ?>">
        <a href="<?= $folder->generated_url ?>"
           class="nav-link nav-type-link"
           data-type="<?= $folder->type ?>"
        >
            <span class="link-title"> <?= e(trans($folder->label)) ?></span>
            <i class="link-icon <?= $folder->icon ?>"></i>
        </a>
    </li>

<?php } else {
    ?>
    <li class="nav-item <?= Navigation::isActiveNavigation($folder) ? 'active' : '' ?>">
        <a class="nav-link nav-type-folder" data-toggle="collapse" href="#<?= $id ?>" role="button"
           aria-expanded="false"
           aria-controls="emails"
           data-type="<?= $folder->type ?>"
        >
            <i class="link-icon <?= $folder->icon ?>"></i>
            <span class="link-title"><?= e(trans($folder->label)) ?></span>
            <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="<?= $id ?>">
            <ul class="nav sub-menu nested">
                <?php
                $sideMenuItems = $folder->children;
                if (!empty($sideMenuItems)) {
                    foreach ($sideMenuItems as $sideItem) {
                        if ($sideItem->type === 'folder') {
                            print $this->makeLayoutPartial('partials/nav_folder', ['folder' => $sideItem]);
                        } else {
                            ?>
                            <li class="nav-item <?= /*BackendMenu::isSideMenuItemActive($item) ? 'active' :*/
                            '' ?>">
                                <a href="<?= $sideItem->generated_url ?>"
                                   class="nav-link nav-type-link"
                                   data-type="<?= $sideItem->type ?>"
                                >
                                    <span
                                            class="link-title"> <?= e(trans($sideItem->label)) ?></span>
                                    <i class="link-icon <?= $sideItem->icon ?>"></i>
                                </a>
                            </li>
                        <?php }
                    }
                } ?>
            </ul>
        </div>
    </li>

    <?php
} ?>