<?php
$counter = 0;
foreach ($navigations as $navigation) {
    $isActive = false;
    $mainMenuId = $navigation->name . '-' . $navigation->id;
    if ($navigation->type === 'seperator') {
        ?>
        <li class="nav-item nav-category"
            title="<?= $navigation->tooltip ?>"
            id="<?= $navigation->id ?>"
            data-handler="<?= base64_encode($navigation->script ?? 'null') ?>"
            data-type="<?= $navigation->tooltip ?>" ,
        <?= $navigation->label ?>
        </li>
        <?php
        $folders = $navigation->children;
        if (!empty($folders)) {
            foreach ($folders as $folder) {
                print $this->makeLayoutPartial('partials/nav_folder', ['folder' => $folder, 'dropdown' => $dropdown]);
            }
        }
    } else {
        print $this->makeLayoutPartial('partials/nav_folder', ['folder' => $navigation, 'dropdown' => $dropdown]);
    }
} ?>

