<?php

use Backend\Models\BrandSetting;
use System\Classes\SettingsManager;

$activeItem = BackendMenu::getActiveMainMenuItem();
$mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');

$context = BackendMenu::getContext();
$navigations = $this->getNavigations();


?>
<div class="sidebar-header">
    <a href="#" class="sidebar-brand">
        <span><?= e(Backend\Models\BrandSetting::get('app_name')) ?></span>
    </a>
    <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="sidebar-header">
    <input id="nav-search-box" type="text" style="width: 100%;color: black;" placeholder="Search Navigation"/>
</div>
<div class="sidebar-body">
    <ul class="nav">
        <?php
        $counter = 0;
        foreach ($navigations as $navigation) {
            $isActive = false;
            $mainMenuId = $navigation->name . '-' . $navigation->id;
            if ($navigation->type === 'seperator') {
                ?>
                <li class="nav-item nav-category"><?= $navigation->label ?></li>
                <?php
                $folders = $navigation->children;
                if (!empty($folders)) {
                    foreach ($folders as $folder) {
                        print $this->makeLayoutPartial('partials/nav_folder', ['folder' => $folder]);
                    }
                }
            } else {
                print $this->makeLayoutPartial('partials/nav_folder', ['folder' => $navigation]);
            }
        } ?>
    </ul>
</div>
