<?php

use Backend\Models\BrandSetting;
use System\Classes\SettingsManager;

$activeItem = BackendMenu::getActiveMainMenuItem();
$mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');

$context = BackendMenu::getContext();
$navigations = $this->getNavigations('sidebar');


?>
<div class="sidebar-header">
    <a href="#" class="sidebar-brand">
        <span><?= e(Backend\Models\BrandSetting::get('app_name')) ?></span>
    </a>
    <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="sidebar-search">
    <div class="input-group">
        <input autocomplete="off" id="nav-search-box" type="text" class="form-control icon search growable" id="navbarForm" placeholder="Search Navigation">
    </div>
</div>
<div class="sidebar-body">
    <ul class="nav">
        <?=$this->makeLayoutPartial('partials/navigation', ['navigations' => $navigations])?>
    </ul>
</div>
